[submodule "include/imgui-sfml"]
	path = include/imgui-sfml
	url = git@github.com:SFML/imgui-sfml.git
[submodule "include/imgui"]
	path = include/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "include/SFML"]
	path = include/SFML
	url = git@github.com:SFML/SFML.git
